.FormGroup {
  margin: 0 15px 5px;
  padding: 0;
  border-style: none;
  background-color: #fff;
  will-change: opacity, transform;
  box-shadow: 2px 2px 5px #96979B;
  border: 1px solid #d0d2d9;
  border-radius: 4px;
}

.FormRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  border-top: 1px solid #96979B;
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}

button {
  display: block;
  font-size: 16px;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: #010102;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #363648;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  will-change: transform, background-color, box-shadow;
  border: none;
}

button:active {
  background-color: #000;
  color: #fff;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #96979B;
  transform: scale(0.99);
}
button:disabled {
  background-color: #96979B;
  color: #fff;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #96979B;
}
.App {
  margin-left: 25%;
  margin-top: 5%;
  margin-right: 25%;
}

h1,
h3 {
  text-align: center;
}

.payment-btn {
    margin: 20px auto;
}

label{
  color: #96979B;
  margin: 10px 0 5px 24px;
}

.form-control{
  padding: 11px 15px 11px 10px !important;
}
.text-danger{
  margin: 15px;
}